<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace属性：用于指定当前的映射文件和哪个接口进行映射。需要指定接口的文件路径-->
<mapper namespace="com.lhf.library.mapper.TextbookMapper">

    <resultMap id="Textbook" type="com.lhf.library.entity.Textbook">
        <id column="id" property="id"/>
        <result column="publish_time" property="publishTime"/>
    </resultMap>

    <select id="selectById" resultMap="Textbook">
        select *
        from l_textbook
        where id = #{id}
    </select>

    <select id="selectAllTextbook" resultMap="Textbook">
        select *
        from l_textbook
    </select>

    <update id="updateInventory">
        update l_textbook
        set inventory = #{num}
        where id = #{id}
    </update>

    <select id="selectTextbookByCategoryId" resultMap="Textbook">
        select *
        from l_textbook
        where categoryId = #{categoryId}
    </select>

    <select id="selectTextbookByParam" resultMap="Textbook">
        select *
        from l_textbook
        where bname like '%${param}%'
    </select>

    <update id="updateTextbook">
        update l_textbook
        set
        <if test="bname!=null">bname = #{bname},</if>
        <if test="img!=null">img = #{img},</if>
        <if test="author!= null">author = #{author},</if>
        <if test="publisher!= null">publisher = #{publisher},</if>
        <if test="publishTime!= null">publish_time = #{publishTime},</if>
        <if test="description!= null">description = #{description},</if>
        <if test="pagination!= null">pagination = #{pagination},</if>
        <if test="price!= null">price = #{price},</if>
        <if test="isbn!= null">isbn = #{isbn},</if>
        <if test="categoryId!= null">categoryId = #{categoryId},</if>
        <if test="inventory!= null">inventory = #{inventory}</if>
        where id = #{id}
    </update>

    <delete id="deleteBook">
        delete
        from l_textbook
        where id = #{id}
    </delete>

    <insert id="insertBook">
        insert into l_textbook(bname, author, publisher, publish_time, pagination, description, img, price, isbn,
                               categoryId, inventory)
        VALUES (#{bname}, #{author}, #{publisher}, #{publishTime}, #{pagination}, #{description}, #{img}, #{price},
                #{isbn}, #{categoryId}, #{inventory})
    </insert>
</mapper>